<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/EikonWebUI.css">
        <link rel="stylesheet" href="countryPage.css">
       
        
    </head>
    <body>
      
        <table style="width:100%">
            <tr>
                <td style="width:33%"></td>
                <td style="width:34%">
                    <div style="height:100px"></div>
                    <h1 style="text-align:center;" >Welcome to <br> the Black Carrots' <br> Risk Level Detection <br> Application </h1>
                    <button onclick="location.href='index.html'">Proceed</button>
                </td>
                <td style="width:33%"></td>
            </tr>
        </table>
    </body>
</html>
